In [24]:
import pandas as pd 
import numpy as np

In [25]:
a = pd.read_csv('submissions/allfourregressionwcatboost/submission.csv')

In [26]:
b = pd.read_csv('submissions/catboostwnoiter/submissionw60.csv')

In [31]:
a.predicted_score

0          -6.544124
1         -20.968664
2         -22.498588
3         -21.329274
4         -25.503827
             ...
8496461    10.469699
8496462    -8.618273
8496463    -0.519226
8496464    23.931533
8496465     7.786375
Name: predicted_score, Length: 8496466, dtype: float64

In [32]:
#normalise a.predicted_score

a.predicted_score = (a.predicted_score - a.predicted_score.min())/(a.predicted_score.max() - a.predicted_score.min())

In [33]:
a.predicted_score

0          0.431242
1          0.376931
2          0.371171
3          0.375573
4          0.359855
             ...
8496461    0.495302
8496462    0.423433
8496463    0.453927
8496464    0.545989
8496465    0.485199
Name: predicted_score, Length: 8496466, dtype: float64

In [34]:
a.predicted_score = a.predicted_score+b.predicted_score

In [35]:
a.to_csv('submissions/ensemblewallfourregressionwcatboostandcatboostwnoiter.csv',index=False)

:

In [9]:
x = a.customer.sample(int(len(cust)*0.5))

In [10]:
dd = a[a.customer.isin(x)]

In [11]:
xx = b[~b.customer.isin(x)]

In [12]:
xx

         customer  predicted_score  merchant
0          467915         0.040847    599167
1          467915        -0.024472    686617
2          467915        -0.093333    829193
3          467915        -0.019824   1077034
4          467915        -0.006210    876647
...           ...              ...       ...
8496461    464447        -0.039171    644485
8496462    522564        -0.156350    802309
8496463    465030        -0.373178    741321
8496464    495259        -0.042692    625845
8496465    556241        -0.088018    639032

[5058973 rows x 3 columns]

In [16]:
#append xx,dd

sub = pd.concat([xx,dd])

In [18]:
sub.customer.nunique()

95530

In [19]:
a.customer.nunique()

95530

In [20]:
b.customer.nunique()

95530

In [23]:
sub.to_csv('adarshkimkc.csv',index=False)